.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: yellow;
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.inpuntnumber {
  width: 150px;
  margin-top: 10px;
}
.texttry {
  margin-bottom: 10px;
}

.button {
  border-radius: 5px;
}
